<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Table</title>
</head>

<body>
  <div class="container">
    <main class="table row">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">First</th>
            <th scope="col">Last</th>
            <th scope="col">Handle</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th> 1 </th>
            <td>Mark</td>
            <td>Otto</td>
            <td>@mdo</td>
          </tr>
          <tr>
            <th> 2 </th>
            <td>Jacob</td>
            <td>Thornton</td>
            <td>@fat</td>
          </tr>
          <tr *ngFor="let person of users">
            <th>{{person.id}}</th>
            <td>{{person.name}}</td>
            <td>{{person.address}}</td>
            <td>{{person.city}}</td>
          </tr>
        </tbody>
      </table>
    </main>
    <div class="add-customers row">
      <form id="myForm" class="col-md-12">
        <div class="form-row">
          <div class="col-md-6">
            <input type="text" [(ngModel)]="name" name="Name" class="form-control" placeholder="Name">
          </div>
          <div class="col-md-6">
            <input type="text" [(ngModel)]="address" name="Address" class="form-control" placeholder="Address">
          </div>
          <div class="row">
            <div class="col-md-6">
              <input type="text" [(ngModel)]="city" name="City" class="form-control" placeholder="City">
            </div>
            <div class="col-md-6">
              <input type="text" [(ngModel)]="pinCode" name="PinCode" class="form-control" placeholder="Pin Code">
            </div>
          </div>
          <div class="dropdown-menu col-md-6" aria-labelledby="dropdownMenuOffset">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <a class="dropdown-item" href="#">Something else here</a>
          </div>
        </div>
        <button class="btn btn-primary" (click)="addUser()">Submite</button>
        <button type="button" class="btn btn-danger" (click)="editUser()"> Change</button>
      </form>
    </div>

  </div>
</body>

</html>